@import url(.//global.css);

body {
    height: 100vh;
    
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: "head head head" "nav main main" "nav main main";
}

header {
   
    grid-area: head;
    grid-column: head;   
    display: flex;
    justify-content: space-between;
    
}

aside {
    grid-area: nav;
    grid-column: nav;
    display: flex;
    width: 100px;
}

main {
    grid-area: main;
    grid-column: main;
    display: grid;
    padding-left: 30px;
    padding-top: 10px;
    background-color: #f9f9f9;
    
}

#left {
    display: flex; /* Utiliza Flexbox para alinhar conteúdo dentro dos itens */
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.right {
    display: flex; /* Utiliza Flexbox para alinhar conteúdo dentro dos itens */
    justify-items: center;
    gap: 30px;
    padding-right: 20px;
    padding-top: 10px;
}

div .vid {
    width: 282px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}

img #barra {
    background-color: transparent;
}

.center {
    padding-top: 5px;
}